<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="comtainer">
        <h5>Welcome to SpySite.</h5>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Logged In</th>
                </tr>
            </thead>
            <tbody>
                {% for object in history %}
                <tr>
                    <td>{{object[0]}}</td>
                    <td>{{object[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>