<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate_Route</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <nav>
        <div class="nav-wrapper teal accent-4">
          <a href="/" class="brand-logo center">Not Google Maps</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="calculate_route">Path Finder</a></li>
            <li><a href="modify_weight">Edit Weights</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <select name="startnode">
                    <option value="" disabled selected>From:</option>
                    {% for town in towns %}
                        <option value={{town}}>{{town}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="endnode">
                    <option value="" disabled selected>To:</option>
                    {% for town in towns %}
                        <option value={{town}}>{{town}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <button name="submit" type="submit" class="btn btn-primary">Calculate</button>
            <p>&nbsp;</p>
        </form>
    <img class="materialboxed" width="450" src="../route_finder_site/images/testimage.jpg">
    <h5>&nbsp;</h5>
    <div class="divider"></div>
    {% if route %}
        <h5>Route:</h5>
        <p>{{route}}</p>
        <h5>Distance:</h5>
        <p>{{distance}}</p>
    {% endif %}
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
         });
     
    </script>

</body>
</html>