<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   

    <nav>
      <div class="nav-wrapper blue-grey darken-3">
        <a href="/" class="brand-logo center">The Vault</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>

      <div class="container">
        <form action="" method="POST" class="form-inline">
            <div class="input-field">
                <label for="username_input">Username: </label>
                <input name="username" id="username_input" type="text">
            </div>
            <div class="input-field">
                <label for="password_input">Password: </label>
                <input name="password" id="password_input" type="password">
            </div>
            <button name="submit" type="submit" class="btn btn-primary blue-grey darken-3">Log In</button>
        </form>
        <h6>Not yet a member? <a href="/register" class="waves-effect waves-teal btn-flat">register here</a></h6>
      </div>
      

    

</body>
</html>