<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   

    <nav>
        <div class="nav-wrapper blue-grey darken-3">
          <a href="/" class="brand-logo center">The Vault</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            {% if loggedin %}
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="container">
        <form action="" method="POST" class="form-inline">
            <div class="input-field">
                <label for="realname_input">Real Name: </label>
                <input name="realname" id="realname_input" type="text">
            </div>
            <div class="input-field">
                <label for="username_input">Username: </label>
                <input name="username" id="username_input" type="text">
            </div>
            <div class="input-field">
                <label for="password_input">Password: </label>
                <input name="password" id="password_input" type="password">
            </div>
            <div class="input-field">
                <label for="password_confirmation">Re-Enter Password: </label>
                <input name="password2" id="password2_input" type="password">
            </div>
            <div class="input-field">
                <label for="code_input">Access Code: </label>
                <input name="accesscode" id="accesscode_input" type="text">
            </div>
            {% if error %}
              <p class="red-text text-darken-4">{{error}}</p>
            {% endif %}
            <button name="submit" type="submit" class="btn btn-primary blue-grey darken-3">Register</button>
        </form>
        <h6>Already a member? <a href="/login" class="waves-effect waves-teal btn-flat">log in here</a></h6>
      </div>

</body>
</html>